ion-content {
    --background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.para {
    text-align: center;
}

.footer {
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    position:fixed;bottom:0px;width:100%;
}
ion-item{
    --ion-background-color:transparent;
 }

ion-input { 
    text-align: center;
}