<ion-header>
  <ion-toolbar color="success">
    <ion-title>
      WhatsApp Direct
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="para">Enter WhatsApp no. with country code:</p>
  <form class="form" [formGroup]="whatsapp_form"  (ngSubmit)="redirectWhatsApp(whatsapp_form.value)">

    <ion-item>
      <ion-input placeholder="+60133207287" type="number" formControlName="number" required></ion-input>
    </ion-item>
    <br>
    <ion-button expand="block"  color="success" type="submit">WhatsApp Now<ion-icon name="logo-whatsapp" slot="end"></ion-icon></ion-button>
  </form>
  <p class="footer">Developed by, Fahmi Shah @ Kuala Lumpur</p>
</ion-content>
